body{
    font-family: Verdana;
}

/* Display block */
.block{
    display: block;
    width: 200px;
    height: 50px;
    background-color: lightcoral;
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;
}

/* Cararcteristicas do block
- Ocupa toda a largura
- Sempre vai quebra linha
- Aceita width e height */